@model MissionControlSystem.Models.Satellite

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Satellite</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrbitType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrbitType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LaunchDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LaunchDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Operator)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Operator)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Spacecraft)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Spacecraft.Manufacturer)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
